@font-face       { 
                   font-family:Averia Serif Libre; 
                   src: url('/font/averia-serif-libre-regular.woff2') format('woff2'); 
                   font-display:swap; 
                 } 
@font-face       { 
                   font-family:Source Sans Pro; 
                   src: url('/font/source-sans-pro-regular.woff2') format('woff2'); 
                   font-display:swap; 
                 } 
@font-face       { 
                   font-family:Courier Prime; 
                   src: url('/font/courier-prime-regular.woff2') format('woff2'); 
                   font-display:swap; 
                 } 
body             { 
                   text-align:center; 
                   font-family:Source Sans Pro; 
                   color:white; 
                   background-color:black; 
                 }
.header          { 
                   text-align:center; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:10px; 
                   padding-top:8px; 
                   padding-bottom:8px; 
                   padding-left:12px; 
                   padding-right:12px; 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
.content         { 
                   text-align:center; 
                   font-size:15px; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:10px; 
                   padding-top:8px; 
                   padding-bottom:8px; 
                   padding-left:12px; 
                   padding-right:12px; 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
.footer          { 
                   text-align:center; 
                   font-size:11px; 
                   font-weight:bold; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:10px; 
                   padding-top:8px; 
                   padding-bottom:8px; 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
p                { 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
.button          { 
                   font-family:Averia Serif Libre; 
                   font-size:16px; 
                   font-weight:bold; 
                   color:white; 
                   background-color:indigo; 
                   width:180px; 
                   border:none; 
                   border-radius:10px; 
                   padding-top:14px; 
                   padding-bottom:14px; 
                   margin-left:auto; 
                   margin-right:auto; 
                   margin-top:12px; 
                   margin-bottom:8px; 
                 } 
a:link           { 
                   color:yellow; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:visited        { 
                   color:springgreen; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:hover          { 
                   color:deeppink; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:active         { 
                   color:cyan; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:link.item      { 
                   color:white; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:visited.item   { 
                   color:white; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:hover.item     { 
                   color:white; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:active.item    { 
                   color:white; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:link.anchor    { 
                   color:cyan; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:visited.anchor { 
                   color:cyan; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:hover.anchor   { 
                   color:cyan; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
a:active.anchor  { 
                   color:cyan; 
                   background-color:transparent; 
                   text-decoration:none; 
                 } 
img              { 
                   width:300px; 
                   height:auto; 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
.code            { 
                   font-family:Courier Prime; 
                   font-size:12px; 
                   color:white; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:8px; 
                   padding-top:3px; 
                   padding-bottom:1px; 
                   padding-left:3px; 
                   padding-right:3px; 
                 } 
table.menulist   { 
                   width:100%; 
                   margin-left:auto; 
                   margin-right:auto; 
                   vertical-align:middle; 
                 } 
th.menu          { 
                   text-align:center; 
                   width:20%; 
                   font-size:13px; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:8px; 
                   padding-top:4px; 
                   padding-bottom:4px; 
                   margin-top:8px; 
                   margin-bottom:8px; 
                 } 
table.itemlist   { 
                   width:80%; 
                   margin-left:auto; 
                   margin-right:auto; 
                   vertical-align:middle; 
                 }
td.item          { 
                   text-align:center;
                   width:50%; 
                   font-size:13px; 
                   border:solid; 
                   border-width:2px; 
                   border-color:goldenrod; 
                   border-radius:8px; 
                   padding-top:4px; 
                   padding-bottom:4px; 
                   margin-top:2px; 
                   margin-bottom:2px; 
                 } 
.cyan            { color:cyan; } 
.spgreen         { color:springgreen; } 
.yellow          { color:yellow; } 
.white           { color:white; } 
.goldenrod       { color:goldenrod; } 
.deeppink        { color:deeppink; } 
.black           { color:blackpink; } 
